.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    transition: transform 450ms;
}

.product::-webkit-scrollbar {   
    display: none; 
}  

.product:hover {  
     transform: scale(1.04);
}

.product_rating {
    display: flex;
}

.product>img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    background: #cd5e42;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: rgb(228, 238, 237);
}

.product_price
{
    margin-top: 5px;
}
.product_info {
    height: 100px;
    margin-bottom: 15px;
    width: 100%;
}