.singleorder {
    padding: 40px;
    margin: 20px 0;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;
    
  }
  
  .singleorder__id {
    text-align: right;
    top: 40px;
    right: 20px;
  }
  
  .singleorder__total {
    font-weight: 500;
    text-align: right;
    border: 2px solid gray;
    background: rgb(54, 179, 221);
    margin-left: 1050px;
    padding: 5px;
  }
  